footer{

	background: #413B3B;
	padding: 1vmax 0;

	& .container{
		display: flex;
		align-items: center;

		@media(max-width: $medium){
			display: block;
		}
	}

	& .logo-wrapper{

		flex-grow: 1;
		margin:$gutter-width 0;
		
		& .logo-footer{
			margin-left: 10px;
			height: 40px;
			display: block;
			aspect-ratio: 3.5 / 1;
			background-image: url(/img/logo.svg);
		}

	}

	& ul{

		display: flex;
		align-items: center;

		& li{

			& a{
				padding: 10px;
				color: #fff;
				transition: background-color .2s;

				&:hover{
					background-color: rgba(black, .3);
				}
			}
		}
	}

	@media(max-width: $medium){

		padding: 2vmax 0;

		& ul{

			display: block;
			margin: 1.5vmax 0;
	
			& li{
				line-height: 1.8em;
			}
		}
	}
}

.footer-copyright{
	background: #322B2B;
	color: $fogged;
	padding: 10px 0;

	& .container{
		padding: 0 10px;
		box-sizing: border-box;
	}
	
	& a{
		color: $fogged;
	}

	@media(max-width: 320px){

		& .container{

			display: flex;
			flex-direction: column;

			& > *{
				display: block;
				width: 100%;
				float: none;
				clear: both;
				text-align: center;
				line-height: 2em;
			}

			& .year{
				order: 1;
			}
		}
	}
}