//= Media queries ========================================
//= Less, then extra-small	// T (tiny)
$tiny: 0;
$extra-small: 400px;			// XS (extra-small)
$small: 600px;						// S (small)
$medium: 800px;						// M (medium)
$large: 1200px;						// L (large)
$extra-large: 1800px;			// XL (extra-large)
$huge: 1801px;						// H (huge)

//= Columns gutter =======================================
$cols: 12;								// Column-count
$gutter-width: 20px;			// Space between columns


$border-radius: 6px;
$text: #333;
$fogged: #707070;
$primary: #0055FF;
$success: #1EA907;